.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
}

.imagewrap{
  min-width: 0;
  width: 25%;
  padding-top: 5%;
}
.imagewrap img{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}
.text{
  align-content: right;
  justify-content: center;
  flex-grow: 1;
}
.header{
  align-content: center;
  justify-content: center;
  
}
.subtitle{
  align-content: right;
}


body{
  background-color: antiquewhite;
}
